.hiring {
    padding: 50px 15px;

    @include for-large-up {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 106px auto 110px auto;
        max-width: 750px;
    }

    &__title  {
        margin: 0;
        font-weight: 700;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        letter-spacing: -0.357143px;

        @include for-large-up {
            font-size: 56px;
            line-height: 56px;
            text-align: center;
            letter-spacing: -0.5px;
        }
    }

    &__text  {
        font-size: 24px;
        line-height: 34px;
        margin: 0;
        margin-top: 18px;
        text-align: center;
                
        @include for-large-up {
            margin-top: 20px;
            width: 555px;
        }
    }

    &__button {
        margin-top: 30px;
        width: 100%;

        @include for-large-up {
            margin-top: 28px;
            width: 247px;
        }
    }

    &__vacancies {
        margin-top: 39px;

        @include for-large-up {
            width: 100%;
            margin-top: 110px;
        }
    }

    &__vacancy {
        margin-top: 15px;

        @include for-large-up {
            margin-top: 30px;
            height: 80px;
        }

        &:first-child {
            margin-top: 0;
        }
    }
}

.vacancy {
    border-radius: 8px;
    border: 1px solid $border-color;
    display: flex;
    text-decoration: none;
    display: flex;
    color: $text-color-dark;
    overflow: hidden;

    &:hover {
        background-color: $color-dark-blue;

        .vacancy__title {
            color: $text-color-white;
        }

        .vacancy__location {
            color: $text-color-white;
        }

        .vacancy__arrow-container {
            background-color: transparent;
        }

        .icon-arrow_right {
            background-image: url('img/icon-arrow-right-white.png');
        }
    }

    &__details {
        padding: 20px;
        flex: 1;

        @include for-large-up {
            display: flex;
            align-items: center;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
    }

    &__location {
        font-size: 16px;
        line-height: 22px;
        color: $text-color-light-grey;
        margin-top: 7px;

        @include for-large-up {
            max-width: 232px;
            flex: 1;
            margin-left: auto;
            margin-top: 0;
        }
    }

    &__arrow-container {
        background-color: $color-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;

        @include for-large-up {
            background-color: $color-white;
        }
    }
}
